<ion-header>
  <ion-toolbar>
    <ion-icon id="back" name="arrow-back-outline" routerLink="/pizza"  slot="start"></ion-icon>
    <ion-title id="title">Ingredient</ion-title>
      <ion-icon name="cart-outline" (click)="presentModal()" id="panier" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pizza">
    <img src="{{pizza.photo}}">
    <ion-card-header>
        <div class="title" routerLink="/ingredient/{{pizza.id}}">
            <ion-card-subtitle>{{pizza.prix}} €</ion-card-subtitle>
            <ion-card-title>{{pizza.nom}}</ion-card-title>
        </div>
    </ion-card-header>
    <ion-card-content>
        <ion-list *ngIf="pizzaIngredients" id="ingredients">
            <ion-item *ngFor="let item of pizzaIngredients">
                <ion-label *ngIf="item">
                    {{item.nom}}
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-content>
